# This is an example .env file. Copy this to .env and fill in the values as needed.

# The NODE_ENV variable is used to specify the environment in which the application is running.
# It can be set to 'development', 'production', or 'test'.
NODE_ENV=development

# The VITE_API_BASE_URL variable is used to specify the base URL for the API endpoints.
# In development, it can point to a local server, while in production, it should point to the deployed API.
VITE_API_BASE_URL=http://localhost:5000/api/v1